body {
  font-family: 'Linden Hill',
    Palatino, "Palatino Linotype",
    "NSimSun", "SimSun-ExtB", "SimSun", "Songti SC", "SimSong", serif;
}

code {
  font-family: Consolas, "Courier New", Monaco, "KaiTi", "KaiTi SC", monospace;
  font-size: 90%;
}

.home blockquote,
.cn blockquote,
.kai,
.cn em,
.hash-note,
.hide-notes .toggle-notes {
  font-family:
    /* Windows 英文 */
    "Palatino Linotype", "Book Antiqua",
    /* macOS 英文 */
    "Palatino",
    /* Windows 中文 */
    "SimKai", "KaiTi",
    /* macOS 中文 */
    "Kaiti SC", "Kai", "STKaiti", "DFKai-SB", serif;
}

.menu,
.meta-line,
footer {
  font-family: Futura, Optima, "Songti SC", "SimSong", sans-serif;
}