{{ define "page-list" }}
<div class="archive">
    {{ range .RegularPages.GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    {{ range .Pages }}
    <p class="blog-item">
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        <span class="post-date">{{ .Date.Format "2006-01-02" }}</span>
    </p>
    {{ end }}
    {{ end }}

    <!-- 统计信息 -->
    <div class="stats">
        {{- $words := 0 -}}{{- $chars := 0 -}}{{- $runes := 0 -}}
        {{- range .RegularPages -}}
        {{- $words = add $words .WordCount -}}
        {{- $chars = add $chars (split (replace .Plain "\n" "") "" | len) -}}
        {{- $runes = add $runes (countrunes .Plain) -}}
        {{- end -}}
        {{- partial "stats_cn.html" (dict
        "Years" (.RegularPages.GroupByDate "2006" | len)
        "Posts" (len .RegularPages | lang.FormatNumberCustom 0)
        "Words" (lang.FormatNumberCustom 0 $words)
        "Runes" (lang.FormatNumberCustom 0 $runes)
        "Chars" (lang.FormatNumberCustom 0 $chars)) -}}
    </div>
</div>
{{ end }}